body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-top: 40vh;
     animation: pulsar 3s infinite;
    position: relative;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}